@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  transition: all 0.3s ease-in-out !important;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
}

::selection {
  background: #eaf5eb30;
  color: #fff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #079911 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #079911;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}

.hamburger {
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #079911;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.hamburger:nth-child(1) {
  top: 0;
}

header button.active .hamburger:nth-child(1),
header button.active .hamburger:nth-child(3) {
  top: 50%;
  bottom: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

header button.active .hamburger:nth-child(2) {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

header button.active .hamburger:nth-child(3) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hamburger:nth-child(2) {
  top: 50%;
  bottom: 50%;
  translate: 0 -50%;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: center;
}

.hamburger:nth-child(3) {
  bottom: 0;
}

header .container {
  border-bottom: 1px solid #72819639;
}

header.active {
  position: fixed;
  background: #23232350;
  backdrop-filter: blur(10px);
  z-index: 99999;
}

header.active .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line .word .char {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  opacity: 0;
}

.information svg,
#contact a svg {
  fill: #999 !important;
  width: 25px;
  height: auto;
}

.information:hover svg,
#contact a:hover svg {
  fill: #079911 !important;
}

@media (max-width: 768px) {
  #nav {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 640px;
    left: 0;
    right: 0;
    top: 72px;
    z-index: 9999;
    gap: 0 !important;
    background: #23232350 !important;
    backdrop-filter: blur(10px) !important;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
  }

  #nav.active {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }

  header.active + #nav {
    top: 60px;
  }

  #nav.active a {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #72819615;
  }
}

@media (max-width: 640px) {
  #nav {
    width: 100%;
  }
}
